<div class="devise_form">
<div class="col-md-4">
<!-- 設定メニュー -->
<h2>会員情報編集</h2>
<%= render '/application/setting_menu'%>
</div>
<div class="col-md-8">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"form" }) do |f| %>
    <%= devise_error_messages! %>
  <!-- メールアドレス -->
    <div class="form-group row">
      <div class="col-lg-10">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control input-lg" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>


    <div class="form-group row">
      <div class="col-lg-10">
        <%= f.label :profile_image,"プロフィール画像"%>
        <%= f.attachment_field :profile_image%>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-10">
        <%= f.label :current_password %> <i>(現在のパスワードを入れてください。)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class:"form-control input-lg" %>
      </div>
    </div>

  <fieldset>
    <legend>パスワードの変更</legend>

    <div class="form-group row">
      <div class="col-lg-10">
        <%= f.label :password_new %> <i>(パスワードの変更をしない場合は入力しないでください)</i>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> 文字以上</em>
        <% end %>

        <br />
        <%= f.password_field :password, autocomplete: "off", class:"form-control input-lg" %>

      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-10">
        <%= f.label :password_confirmation_new %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control input-lg" %>
      </div>
    </div>
  </fieldset>


  <div class="form-group row">
    <div class="col-sm-10 actions">
      <%= f.submit "変更", class:"form-control btn" %>
    </div>
  </div>
  <% end %>
  <div class="pd-10"></div>
  <h3>退会</h3>

  <p>利用を終了し、会員情報を削除しますか？
    <%= button_to "削除", registration_path(resource_name), data: { confirm: "情報は完全に削除されます。\n退会しますか？" }, method: :delete, class:"form-control btn" %></p>

  <%= link_to "Back", :back %>
</div>

