<h1><span class="far fa-calendar"></span><%= link_to "#{@schedule.start_datetime.strftime("%Y/%m/%d (%a)")}  #{@schedule.start_datetime.strftime("%H:%M")}",schedule_path(@schedule) %></h1>
<div class="col-md-4">
<!-- 貸借管理 -->
  <%= render 'application/total_loan', otherside: @schedule.otherside, journals: @journals, othersides:nil %>

<!-- 仕訳登録フォーム -->
  <%= render 'application/journal_form', journal:@journal, schedules: nil, otherside: @otherside %>
</div>

<div class="pd-t-20"></div>
<div class="col-md-8">
<!-- 予定詳細 -->
<%= render 'application/schedule_detail', schedule: @schedule %>

<!-- 仕訳詳細 -->
<%= render 'application/journal_list', journals: @list_journals, otherside: nil, display_event: false, display_price: true, otherside_page: false,schedule_page: true, journals_page:false %>
</div>