<!-- <h1>events#edit</h1>
    t.string "program"
    t.string "performer"
    t.date "date_start"
    t.date "date_end"
    t.string "image"
    t.integer "user_id"
イベント一覧 -->
  <div class="col-md-4">
  <h2><span class="fas fa-flag mg-r-10"></span>登録イベント一覧</h2>
  </div>

  <div class="col-md-8">
<div class="nav_list hidden">
  <ul>
    <li>half_year</li>
    <li>past</li>
    <li>feature</li>
    <li>all</li>
  </ul>
</div>
<div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>IMG</th>
          <th class="w-250p">演目/演者/期間</th>
        </tr>
      </thead>
      <tbody>
      <% @events.includes(:memo).each do |event|%>
        <tr>
          <td rowspan="2" class="w-25p">
            <%= link_to edit_event_path(event) do %>
            　<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
           <% end %>
          </td>
          <td rowspan="2" class="w-25p center">
            <%= attachment_image_tag event, :image, :fill, 60, 80, format: 'jpeg'%>
          </td>
          <td>
            <strong><%= link_to event.program, event_path(event) %></strong><br>
            <%= event.performer %><br>
            <%= "#{event.date_start.strftime("%Y/%m/%d (%a)")}" unless event.date_start.nil?%> <%= "〜 #{event.date_end.strftime("%Y/%m/%d (%a)")}" unless event.date_start.nil? %>
          </td>
        </tr>
        <tr class="no-border pd-t-20">
          <td colspan="3" class="notes_font"><%= event.memo.body unless event.memo.nil? %></td>
        </tr>
      <%end%>
      </tbody>
    </table>
</div>