<!-- <h1>events#edit</h1>
    t.string "program"
    t.string "performer"
    t.date "date_start"
    t.date "date_end"
    t.string "image"
    t.integer "user_id"
イベント一覧 -->
  <div class="col-md-4">
  <h2><span class="fas fa-flag mg-r-10"></span>登録イベント一覧</h2>
  <%= link_to '新しいイベント',new_event_path, class:"btn" %>

  </div>

  <div class="col-md-8">
<div>
    <table class="table">
      <thead>
        <tr>
          <th class="w-25p center">IMG</th>
          <th>演目 / 演者 /  期間</th>
        </tr>
      </thead>
      <tbody>
      <% @events.includes(:memo).each do |event|%>
        <tr>
          <td rowspan="2" class="left">
            <%= attachment_image_tag event, :image, :fill, 60, 80, format: 'jpeg'%>
            <br>
           <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-edit'), edit_event_path(event) %>
           <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-trash'), event_path(event), data: { confirm: "関連する予定も全て削除されます。\n削除しますか?" },method: :delete %>
           <br>
          </td>
          <td>
            <strong><%= link_to event.program, event_path(event) %></strong>
           <% if event.url.present? %>
           <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-globe'),event.url,target:"_blank" %>
           <%end%>
           <br>
            <%= event.performer %><br>
            <%= eventdate(event) %>
          </td>
        </tr>
        <tr class="no-border pd-t-20">
          <td colspan="3" class="font-11 font-gray1"><%= event.memo.body unless event.memo.nil? %></td>
        </tr>
      <%end%>
      </tbody>
    </table>
</div>