<div class="container">
  <div class="col-md-4">
    <h1>設定項目</h1>
    <div>
      <ul>
        <li><%= link_to 'ユーザー情報変更', edit_user_registration_path %></li>
        <li><%= link_to 'イベント情報変更', edit_event_path(1) %></li>
        <li><%= link_to '取引先情報変更', edit_otherside_path(1) %></li>
        <li><%= link_to '仕訳辞書一覧', trade_account_dicts_path %></li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <h1>Trade_account_dicts#index</h1>
    <table class="table">
      <thead>
        <tr>
          <th>取引名</th>
          <th>借方</th>
          <th>貸方</th>
        </tr>
      </thead>
      <tbody>
        <% @trade_types.each do |trade_type|%>
        <tr>
          <td><%= trade_type.trade_name%></td>
          <% trade_type.trade_account_dicts.each do |tad|%>
          <td><%= tad.account.account_name %>:
            <%= tad.position_status_i18n %>
          [e]
          <%= link_to "[d]", trade_account_dict_path(tad), method: :delete%></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
<!-- form -->
    <h3>辞書用フォーム</h3>
    <div class="container">
      <%= form_for @trade_account_dict do |f|%>
        <%= f.label :trade_type_id, "取引" %>
        <%= f.collection_select :trade_type_id, TradeType.all, :id, :trade_name, class:"form-control" %>
        <br>
        <%= f.label :position_status, "貸借" %>
        <%= f.select :position_status, TradeAccountDict.position_statuses_i18n.keys.map { |k| [TradeAccountDict.position_statuses_i18n[k], k]},class:"form-control" %>
        <br>
        <%= f.label :account_id, "取引" %>
        <%= f.collection_select :account_id, Account.all, :id, :account_name,class:"form-control" %>
        <br>
        <%= f.submit "登録" ,class:"btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>