<div class="col-md-4">

  <!-- 関連予定 @related_schedules -->
  <% if @related_schedules.present? %>
  <h3 class="pd-t-20 active_btn" id="related_schedule"><i class="far fa-calendar"></i> 関連予定</h3>
  <div class="hidden">
    <ul>
      <% @related_schedules.includes(:event).each do |schedule| %>
      <li>
        <i class="<%= check_fix_icon(schedule)%>"></i>
        <%= link_to schedule_path(schedule) do%>
                  <%= "(#{schedule.id}) #{schedule.start_datetime.strftime("%Y/%m/%d (%a)")}" %>
                  <i class="<%= "#{matisowa_icon(schedule)}"%>"></i>
                  <%= schedule.start_datetime.strftime("%H:%M")%><%= "-#{schedule.end_datetime.strftime("%H:%M")}" if schedule.end_datetime.present? %>
      <%end%>
      </li>
      <li class="pd-b-10 pd-l-20" style="font-weight:bold;">
        <%= link_to schedule.event.program, event_path(schedule.event) %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <!-- 貸借管理 -->
  <h3 id="total_loan" class="active_btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 関係者</h3>
  <div class="hidden">
  <%= render 'application/total_loan', otherside: nil, journals: @journals %>
  </div>

  <!-- 仕訳登録フォーム -->
  <%if @schedules.any? %>
  <%= render 'application/journal_form', journal:@journal, schedules: @schedules, otherside: @otherside %>
  <% end %>

</div>

<div class="col-md-8">

  <ol class="breadcrumb right">
    <li><%= link_to 'all',journals_path%></li>
    <li><i class="fas fa-check mg-r-5"></i><%= link_to '処理済',journals_path(c:true)%></li>
    <li><i class=""></i><%= link_to '未処理',journals_path(c:false)%></li>
  </ol>

  <div id="result_list">
    <!-- 取引履歴一覧 -->
    <%= render 'application/journal_list', journals: @journals, otherside: nil , display_event: true, display_price: false, otherside_page:false, schedule_page:false, journals_page:true %>
  </div>

</div>

<script>
  $(function(){
    $('#related_schedule').click(function(){
      $(this).next().toggleClass('hidden');
    });
    $('#total_loan').click(function(){
      $(this).next().toggleClass('hidden');
    });
  });
</script>