<h1><i class="<%= "#{sub_or_others_icon(@otherside)}"%>"></i> <%=link_to @otherside.otherside_name,otherside_path(@otherside) %></h1>
<div class="col-md-4">

  <div class="form_field">
    <h3 class="pd-b-15">関係者情報</h3>
      <%= form_for @otherside, url:otherside_path(@otherside), method: :patch do |f|%>
      <ul>
        <li>
          <%= f.label :otherside_name,"関係者名" %>
          <%= f.text_field :otherside_name,id: :otherside_name %>
        </li>
        <li>
          <%= f.label :url,"URL" %>
          <%= f.text_field :url,id: :url %>
        </li>
        <li>
            <%= f.fields_for :memo||@otherside.build_memo do |me| %>
            <%= me.label :メモ,class:"memo_label"%>
            <%= me.text_area :body %>
            <span class="count">0</span>
            <% end %>
        </li>
      </ul>
      <div class="submit_form_btn">
        <%= f.submit "登録",class:"btn yellow_btn"%>
      </div>
      <!-- fの終了タグ -->
      <% end %>
    </div>

</div>


<div class="col-md-8">
  <ol class="breadcrumb right">
    <li><%= link_to 'all',otherside_path(@otherside)%></li>
    <li><i class="fas fa-check mg-r-5"></i><%= link_to '処理済',result_schedules_path(c:true),remote:true%></li>
    <li><i class=""></i><%= link_to '未処理',result_schedules_path(c:false),remote:true%></li>
  </ol>
  <!-- 関連予定 -->
<%= render 'application/related_schedules', related_schedules:@related_schedules%>

<!-- 仕訳詳細 -->
<%= render 'application/journal_list', journals: @journals, otherside: @otherside, display_event: true, display_price: true, otherside_page: true,schedule_page: false, journals_page:false %>

</div>