<div class="col-md-4">
<h2><span class="glyphicon glyphicon-user mg-r-10"></span>取引先情報一覧</h2>
</div>

<div class="col-md-8">
<!-- 関係者一覧 -->
  <div >
    <table class="table">
      <caption>関係者一覧</caption>
      <thead>
        <tr>
          <th class="w-25p"></th>
          <th>名前 / メモ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @othersides.includes(:memo).each do |otherside|%>

        <tr>
          <!-- edit / delete -->
          <td>
            <%= link_to content_tag(:i,"",class:"glyphicon glyphicon-edit"), edit_otherside_path(otherside),target:"_blank"%>
            <br>
            <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-trash'),otherside_path(otherside),data: { confirm: "関連する予定等も全て削除されます。\n削除しますか?" },method: :delete %>
          </td>


          <!-- icon / name / url // memo-->
          <td>
          <i class="<%= "#{sub_or_others_icon(otherside)}"%>"></i>
          <%= link_to otherside.otherside_name, otherside_path(otherside) %>
          <% unless otherside.url.nil? %>
            <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-globe mg-l-10 font-16'),otherside.url,target:"_blank" %>
          <%end%>
            <p class="font-11"><%= simple_format(otherside.memo.body) unless otherside.memo.nil?%></p>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>