<!-- t.string "otherside_name"
t.integer "type"
t.integer "user_id"
t.datetime "created_at", null: false
t.datetime "updated_at", null: false -->

<div class="col-md-4">
<h2>取引先情報一覧</h2>
<!-- 設定メニュー -->
<%= render '/application/setting_menu'%>
</div>

<div class="col-md-8">
<!-- 関係者一覧 -->
  <div >
    <table class="table">
      <caption>関係者一覧</caption>
      <thead>
        <tr>
          <th>no</th>
          <th class="w-150p">NAME</th>
          <th class="w-500p">memo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% othersides = Otherside.where(user_id:current_user.id)%>
        <% othersides.includes(:memo).each.with_index(1) do |otherside, index|%>

        <tr>
          <!-- no -->
          <td><%= index %>.</td>
          <!-- name -->
          <td><i class="<%= "#{sub_or_others_icon(otherside)}"%>"></i> <%= link_to otherside.otherside_name, otherside_path(otherside) %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
          <!-- memo -->
          <td class="font-12"><%= simple_format(otherside.memo.body) unless otherside.memo.nil?%></td>
          <!-- url -->
          <td><span class="glyphicon glyphicon-globe"></span></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>