<div class="col-md-4">
<h2><span class="glyphicon glyphicon-user mg-r-10"></span>取引先情報一覧</h2>
</div>

<div class="col-md-8">
<!-- 関係者一覧 -->
  <div >
    <table class="table">
      <caption>関係者一覧</caption>
      <thead>
        <tr>
          <th></th>
          <th class="w-200p">名前</th>
          <th class="w-500p">メモ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% othersides = Otherside.where(user_id:current_user.id)%>
        <% othersides.includes(:memo).each.with_index(1) do |otherside, index|%>

        <tr>
          <!-- no -->
          <td class="left"><%= index %><br>
            <%= link_to content_tag(:i,"",class:"glyphicon glyphicon-edit"), edit_otherside_path(otherside),target:"_blank"%>
          </td>
          <!-- name -->
          <td>
            <i class="<%= "#{sub_or_others_icon(otherside)}"%>"></i> <%= link_to otherside.otherside_name, otherside_path(otherside) %>
            </td>
          <!-- memo -->
          <td class="font-12"><%= simple_format(otherside.memo.body) unless otherside.memo.nil?%></td>
          <!-- url -->
          <td>
            <% unless otherside.url.nil? %>
            <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-globe mg-l-10 font-16'),otherside.url,target:"_blank" %>
            <%end%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>