<!-- t.string "otherside_name"
t.integer "type"
t.integer "user_id"
t.datetime "created_at", null: false
t.datetime "updated_at", null: false -->

<div class="col-md-4">
<!-- 設定メニュー -->
<%= render '/application/setting_menu'%>

<hr>
<div>
  form
</div>

</div>

<div class="col-md-8">

<!-- 関係者一覧 -->
  <div >
    <h1>othersides#index</h1>
    <table class="table">
      <caption>関係者一覧</caption>
      <thead>
        <tr>
          <th>no</th>
          <th>NAME</th>
          <th class="w-500p">memo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% othersides = Otherside.where(user_id:current_user.id)%>
        <% othersides.each.with_index(1) do |otherside, index|%>

        <tr>
          <!-- no -->
          <td><%= index %>.</td>
          <!-- name -->
          <td><i class="<%= "#{sub_or_others_icon(otherside)}"%>"></i> <%= link_to otherside.otherside_name, otherside_path(otherside) %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
          <!-- memo -->
          <td><%= simple_format(otherside.memo.body) unless otherside.memo.nil?%></td>
          <!-- trash -->
          <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>