<h1><i class="<%= "#{sub_or_others_icon(@otherside)}"%>"></i> <%=link_to @otherside.otherside_name,otherside_path(@otherside) %></h1>
<div class="col-md-4">
<!-- 貸借管理 -->
<%= render 'application/total_loan', otherside: @otherside, othersides: nil, journals: @journals %>
<!-- 仕訳登録フォーム -->
<%= render 'application/journal_form', journal:@journal, schedules: @schedules, otherside: @form_otherside%>
</div>


<div class="col-md-8">
  <div class="row">
    <div class="col-md-8">
    <% if @related_schedules.present? %>
    <h4>関連予定</h4>
    <ul>
      <% @related_schedules.includes(:event).each do |schedule| %>
      <li><%= link_to schedule_path(schedule) do%>
                  <%= schedule.start_datetime.strftime("%Y/%m/%d (%a)") %>
                  <i class="<%= "#{matisowa_icon(schedule)}"%>"></i>
                  <%= schedule.start_datetime.strftime("%H:%M")%><%= "-#{schedule.end_datetime.strftime("%H:%M")}" if schedule.end_datetime.present? %>
      <%end%>
      <%= link_to "#{schedule.event.program}", event_path(schedule.event) %>  <%= schedule.event.performer %>
      </li>
      <% end %>
    </ul>
    <% end %>
    </div>

    <div class="col-md-4">
      <div class="right">
        <%= link_to edit_otherside_path(@otherside) do %>
        <h6><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> edit</h6>
        <% end %>
      </div>
      <div class="otherside-memo-content">
        <% unless @otherside.memo.nil? %>
          <span class="label label-default">MEMO</span>
          <br><br>
          <%= simple_format(@otherside.memo.body) %>
        <% end %>
      </div>
    </div>
  </div>


<!-- 仕訳詳細 -->
<%= render 'application/journal_list', journals: @journals, otherside: @otherside, display_event: true, display_price: true, otherside_page: true,schedule_page: false, journals_page:false %>

</div>