<h2>Othersides#show</h2>
<div class="col-md-4">
<!-- 貸借管理 -->
<%= render 'application/total_loan', otherside: @otherside, othersides: nil, journals: @journals %>

<!-- 仕訳登録フォーム -->
<%= render 'application/journal_form', journal:@journal, schedules: @schedules, otherside: @sub_or_others ? Otherside.find(params[:id]) : Otherside.new %>

</div>

<div class="col-md-8">
<h1><%= @otherside.otherside_name %></h1>

<h4>関連予定</h4>
<ul>
  <% @related_schedules.includes(:event).each do |schedule| %>
  <li><%= link_to schedule_path(schedule) do%>
              <%= schedule.start_datetime.strftime("%Y/%m/%d (%a)") %>
              <i class="<%= "#{matisowa_icon(schedule)}"%>"></i>
              <%= schedule.start_datetime.strftime("%H:%M")%><%= "-#{schedule.end_datetime.strftime("%H:%M")}" if schedule.end_datetime.present? %>
  <%end%>
  <%= link_to "#{schedule.event.program}", event_path(schedule.event) %>  <%= schedule.event.performer %>
  </li>
  <% end %>
</ul>


<!-- 仕訳詳細 -->
<%= render 'application/journal_list', journals: @journals, otherside: @otherside, othersides:nil ,sub_or_others: @sub_or_others %>
<!-- othersideがある場合は貸借表記を行う -->

</div>