<% if journals.present? %>
      <div class="journals">
      <table class="table">
        <caption>個別明細</caption>
        <thead>
          <tr>
            <th>日付</th>
            <th>取引種類</th>
            <th>金額</th>
            <th>借方科目<br>(立替者)</th>
            <th>貸方科目<br>(立替者)</th>
            <%# if otherside %><th>借方金額</th><%# end %>
            <th>バランス</th>
            <%#if otherside %><th>貸方金額</th><%# end %>
            <%#if othersides %><th>演目</th><%# end %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% array = []%>
          <% journals.includes(:trade_type,:memo,schedule: [:event],details: [:otherside, :account]).each do |journal|%>
          <tr>
            <!-- 日付 -->
            <td><%= journal.trade_date %></td>

            <!-- 取引種類 -->
            <td><%= journal.trade_type.trade_name %></td>

            <!-- 金額 -->
            <td><%= journal.figure.to_s(:delimited) %></td>

            <!-- あとで消す -->
      <%= first = journal.details.first %>
      <%= first.object_id %>
      <%= last = journal.details.last%>
      <%= last.object_id%>

            <br>

            <!-- 借方科目 -->
            <td><%= first.account.account_name %><br>
              <%= link_to otherside_path(first.otherside) do %>
                <!-- # journalの借方detailのアカウントIDが3か4の場合　ヘルパーメソッド -->
                <%= first.otherside.otherside_name.truncate(10) if journal_credit_is_liability?(journal) %>
              <%end%></td>

            <!-- 貸方科目 -->
            <td><%= last.account.account_name %><br>
              <%= link_to otherside_path(last.otherside) do %>
                <!-- # journalの借方detailのアカウントIDが3か4の場合　ヘルパーメソッド -->
                <%= last.otherside.otherside_name.truncate(10) if journal_debit_is_liability?(journal) %>
              <%end %></td>

            <!-- 借方金額 -->
            <%# if otherside%>
            <td><%= credit(journal,sub_or_others)==0? nil : credit(journal,sub_or_others).to_s(:delimited) %></td>
            <%# end %>

            <!-- バランス -->
            <td>
              <% array << balance(journal,sub_or_others) unless balance(journal,sub_or_others)==nil%>
              <%= total = array.sum.to_s(:delimited) %>
            </td>


            <!-- 貸方金額 -->
            <%# if otherside %>
            <td><%= debit(journal,sub_or_others)==0? nil : debit(journal,sub_or_others).to_s(:delimited) %></td>
            <%# end %>

            <!-- 演目 -->
            <%# if othersides %>
            <td>
              <%= link_to schedule_path(journal.schedule) do%>
                <%= journal.schedule.start_datetime.strftime("%y/%m/%d") %><i class="<%= "#{matisowa_icon(journal.schedule)}"%>"></i>
              <% end %>
              <br>
              <%=link_to journal.schedule.event.program, event_path(journal.schedule.event) %></td>
            <%# end %>

            <!-- 編集 -->

            <td>
            [e]
            <%= link_to "[d]",schedule_journal_path(journal.schedule,journal),method: :delete %>
            <%= "▼" if memo_exist?(obj:journal) %>
            </td>

          </tr>

          <% if memo_exist?(obj:journal) %>
          <tr>
            <td></td>
            <td colspan="7" class="memo"><%= "memo: #{journal.memo.body}" if memo_exist?(obj:journal) %></td>
            <td></td>
          </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      </div>
<% else %>
  <p>明細登録がありません</p>
<% end %>