<% if journals.present? %>
      <div class="journals">
      <table class="table">
        <caption>個別明細</caption>
        <thead>
          <tr>
            <th class="date">日付</th>
            <th class="trade">取引</th>
            <%if display_event %><th class="other">相手</th><%end%>
            <th class="price">金額</th>
            <th class="credit_sb">借方<br>(立替者)</th>
            <th class="debit_sb">貸方<br>(立替者)</th>
            <%if display_price %><th class="credit_mn">借方<br>金額</th><% end %>
            <th class="balance_mn">差引</span>
            </th>
            <%if display_price %><th class="debit_mn">貸方<br>金額</th><% end %>
            <%if display_event %><th class="program">演目</th><% end %>
            <th class="edit_jn"><span id="memo_btn" class="far fa-file-alt active_btn" aria-hidden="true"></span></th>
          </tr>
        </thead>
        <tbody>
          <% array = []%>
          <% journals.includes(:otherside,:schedule,:trade_type,:memo,details: [:otherside, :account]).each do |journal|%>

          <tr>
            <!-- 日付 -->
            <td class="center date">
              <% unless journal.trade_date.nil?%>
              <span style="font-weight:600;font-size:20px;color:#ccc;"><%= journal.trade_date.strftime("%y") %></span><br>
              <%= journal.trade_date.strftime("%m/%d") %>
              <%end%>
            </td>

            <!-- 取引種類 -->
            <td class="center trade"><span class="label label_journal"><%= journal.trade_type.short_name %></span></td>

            <!-- 相手 -->
            <% if display_event %>
            <td class="other"><%= link_to journal.otherside.otherside_name, otherside_path(journal.otherside) %></td>
            <% end %>

            <!-- 金額 -->
            <td class="price"><%= journal.figure.to_s(:delimited) unless journal.figure.nil?%></td>

      <% first = journal.details.first if journal.details.present?%>
      <% last = journal.details.last if journal.details.present?%>

            <!-- 借方科目 -->
            <td class="credit_sb bg-gray0">
              <% if  journal.details.present?%>
                <%= first.account.account_name %><br>

                <%= link_to otherside_path(first.otherside) do %>
                  <!-- # journalの借方detailのアカウントIDが3か4の場合　ヘルパーメソッド -->
                  <%= first.otherside.otherside_name.truncate(10) if journal_credit_is_liability?(journal) %>
                <%end%>
              <% end %>
            </td>

            <!-- 貸方科目 -->
            <td class="debit_sb bg-gray0">
              <% if  journal.details.present?%>
                <%= last.account.account_name %><br>
                <%= link_to otherside_path(last.otherside) do %>
                  <!-- # journalの借方detailのアカウントIDが3か4の場合　ヘルパーメソッド -->
                  <%= last.otherside.otherside_name.truncate(10) if journal_debit_is_liability?(journal) %>
                <%end %>
              <% end %>
            </td>

            <!-- 借方金額 -->
            <% if display_price%>
            <td class="credit_mn center">
              <% if  journal.details.present?%>
                <%= credit(journal,otherside)==0? nil : credit(journal,otherside).to_s(:delimited) %>
              <% end %>
              </td>
            <% end %>

            <!-- バランス -->
            <td class="balance_mn center">
            <% if  journal.details.present?%>
              <% array << balance(journal,otherside) unless balance(journal,otherside)==nil%>
              <%= total = array.sum.to_s(:delimited) %>
            <%end%>
            </td>


            <!-- 貸方金額 -->
            <% if display_price %>
            <td class="debit_mn center">
            <% if  journal.details.present?%>
              <%= debit(journal,otherside) == 0 ? nil : debit(journal,otherside).to_s(:delimited) %>
            <%end%>
            </td>
            <% end %>

            <!-- 演目 -->
            <% if display_event %>
            <td class="program">
              <%= link_to schedule_path(journal.schedule) do%>
              <i class="<%= check_fix_smicon(journal.schedule)%>"></i>
                <%= "(#{journal.schedule.id}) #{journal.schedule.start_datetime.strftime("%y/%m/%d")}" %><i class="<%= "#{matisowa_icon(journal.schedule)}"%>"></i>
              <% end %>
              <br>
              <%=link_to truncate(journal.schedule.event.program,  length: 24), event_path(journal.schedule.event) %></td>
            <% end %>

            <!-- 編集 -->

            <td class="edit_jn">
              <!-- 編集リンク -->
            <% if otherside_page %>
              <%= link_to "/othersides/#{params[:id]}?journal=#{journal.id}" do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%end%>
            <% end %>

            <% if journals_page %>
              <%= link_to journals_path(journal: journal.id) do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <% end %>
            <% end %>

            <% if schedule_page %>
              <%= link_to "/schedules/#{params[:id]}?journal=#{journal.id}" do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%end%>
            <% end %>

            <!-- 削除 -->
            <%= link_to journal_path(id: journal.id), data: { confirm: "削除しますか?" },data: { confirm: "削除しますか?" },method: :delete do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <%end %>
            <!-- メモアイコン -->
            <br>
            <% if memo_exist?(journal) %>
            <span class="far fa-file-alt"></span>
            <%end%>

            </td>
          </tr>

          <% if memo_exist?(journal) %>
            <tr class="no-border memos hidden">
              <td></td>
              <td colspan="7" class="font-12 font-gray1">
                <%= "#{journal.memo.body}" if memo_exist?(journal) %>
              </td>
              <td></td>
            </tr>
          <% end %>

          <% end %>
          <tr>
            <td></td>
            <td></td>
            <%if display_event %><td></td><%end%>
            <td></td>
            <td></td>
            <td></td>
            <%if display_price %><td></td><% end %>
            <td class="center"><%=  total = array.sum.to_s(:delimited) %></span></td>
            <%if display_price %><td></td><% end %>
            <%if display_event %><td></td><% end %>
            <th></th>
          </tr>
        </tbody>
      </table>
      <div class="font-11 font-red right">
        ※マイナス値は支払い金額
      </div>
      </div>
<% else %>
  <p>明細登録がありません</p>
<% end %>