<% if journals.present? %>
      <div class="journals">
      <table class="table">
        <caption>個別明細</caption>
        <thead>
          <tr>
            <th class="w-50p">日付</th>
            <th class="w-50p">取引</th>
            <%if display_event %><th class="w-80p">相手</th><%end%>
            <th>金額</th>
            <th class="w-80p font-11 center">借方<br>(立替者)</th>
            <th class="w-80p font-11 center">貸方<br>(立替者)</th>
            <%if display_price %><th class="center w-40p font-11">借方<br>金額</th><% end %>
            <th class="center w-40p font-11"><span data-toggle="tooltip" data-placement="top" title="マイナスが支払必要のある金額">差引</span></th>
            <%if display_price %><th class="center w-40p font-11">貸方<br>金額</th><% end %>
            <%if display_event %><th class="font-11">演目</th><% end %>
            <th><a href="#"><span id="memo_btn" class="far fa-file-alt active_btn" aria-hidden="true"></span></a></th>
          </tr>
        </thead>
        <tbody>
          <% array = []%>
          <%# journals.includes(:trade_type,:memo,details: [:otherside, :account]).each do |journal|%>
          <% journals.includes(:trade_type,:memo,:otherside, schedule: [:event],details: [:otherside, :account]).each do |journal|%>
          <tr>
            <!-- 日付 -->
            <td class="center">
              <% unless journal.trade_date.nil?%>
              <span style="font-weight:600;font-size:20px;color:#ccc;"><%= journal.trade_date.strftime("%y") %></span><br>
              <%= journal.trade_date.strftime("%m/%d") %>
              <%end%>
            </td>

            <!-- 取引種類 -->
            <td><span class="label label-info"><%= journal.trade_type.short_name %></span></td>

            <!-- 相手 -->
            <% if display_event %>
            <td><%= link_to journal.otherside.otherside_name, otherside_path(journal.otherside) %></td>
            <% end %>

            <!-- 金額 -->
            <td><%= journal.figure.to_s(:delimited) unless journal.figure.nil?%></td>

      <% first = journal.details.first if journal.details.present?%>
      <% last = journal.details.last if journal.details.present?%>

            <!-- 借方科目 -->
            <td class="font-12 bg-gray0">
              <% if  journal.details.present?%>
                <%= first.account.account_name %><br>

                <%= link_to otherside_path(first.otherside) do %>
                  <!-- # journalの借方detailのアカウントIDが3か4の場合　ヘルパーメソッド -->
                  <%= first.otherside.otherside_name.truncate(10) if journal_credit_is_liability?(journal) %>
                <%end%>
              <% end %>
            </td>

            <!-- 貸方科目 -->
            <td class="font-12 bg-gray0">
              <% if  journal.details.present?%>
                <%= last.account.account_name %><br>
                <%= link_to otherside_path(last.otherside) do %>
                  <!-- # journalの借方detailのアカウントIDが3か4の場合　ヘルパーメソッド -->
                  <%= last.otherside.otherside_name.truncate(10) if journal_debit_is_liability?(journal) %>
                <%end %>
              <% end %>
            </td>

            <!-- 借方金額 -->
            <% if display_price%>
            <td class="font-12 center">
              <% if  journal.details.present?%>
                <%= credit(journal,otherside)==0? nil : credit(journal,otherside).to_s(:delimited) %>
              <% end %>
              </td>
            <% end %>

            <!-- バランス -->
            <td class="font-12 center">
            <% if  journal.details.present?%>
              <% array << balance(journal,otherside) unless balance(journal,otherside)==nil%>
              <%= total = array.sum.to_s(:delimited) %>
            <%end%>
            </td>


            <!-- 貸方金額 -->
            <% if display_price %>
            <td class="font-12 center">
            <% if  journal.details.present?%>
              <%= debit(journal,otherside) == 0 ? nil : debit(journal,otherside).to_s(:delimited) %>
            <%end%>
            </td>
            <% end %>

            <!-- 演目 -->
            <% if display_event %>
            <td class="font-12">
              <%= link_to schedule_path(journal.schedule) do%>
              <i class="<%= check_fix_smicon(journal.schedule)%>"></i>
                <%= "(#{journal.schedule.id}) #{journal.schedule.start_datetime.strftime("%y/%m/%d")}" %><i class="<%= "#{matisowa_icon(journal.schedule)}"%>"></i>
              <% end %>
              <br>
              <%=link_to truncate(journal.schedule.event.program,  length: 24), event_path(journal.schedule.event) %></td>
            <% end %>

            <!-- 編集 -->

            <td class="font-12">
              <!-- 編集リンク -->
            <% if otherside_page %>
              <%= link_to "/othersides/#{params[:id]}?journal=#{journal.id}" do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%end%>
            <% end %>

            <% if journals_page %>
              <%= link_to journals_path(journal: journal.id) do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <% end %>
            <% end %>

            <% if schedule_page %>
              <%= link_to "/schedules/#{params[:id]}?journal=#{journal.id}" do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%end%>
            <% end %>

            <!-- 削除 -->
            <%= link_to journal_path(id: journal.id), data: { confirm: "削除しますか?" },data: { confirm: "削除しますか?" },method: :delete do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <%end %>
            <!-- メモアイコン -->
            <br>
            <% if memo_exist?(journal) %>
            <span class="far fa-file-alt"></span>
            <%end%>

            </td>
          </tr>

          <% if memo_exist?(journal) %>
            <tr class="no-border memos hidden">
              <td></td>
              <td colspan="7" class="font-12 font-gray1">
                <%= "#{journal.memo.body}" if memo_exist?(journal) %>
              </td>
              <td></td>
            </tr>
          <% end %>

          <% end %>
          <tr>
            <td></td>
            <td></td>
            <%if display_event %><td></td><%end%>
            <td></td>
            <td></td>
            <td></td>
            <%if display_price %><td></td><% end %>
            <td class="center"><span data-toggle="tooltip" data-placement="top" title="マイナス:支払必要のある金額"><%=  total = array.sum.to_s(:delimited) %></span></td>
            <%if display_price %><td></td><% end %>
            <%if display_event %><td></td><% end %>
            <th></th>
          </tr>
        </tbody>
      </table>
      </div>
<% else %>
  <p>明細登録がありません</p>
<% end %>
<script>
  $(function(){
    // $('.memo_btn').click(function(){
    //   $(this)..toggleClass('hidden');
    // });
    $('#memo_btn').on('click',function(){
      $(this).parents().find('.memos').toggleClass('hidden');
    });
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>