    <% if related_schedules.present? %>
    <h4>関連予定</h4>
    <ul>
      <% related_schedules.each do |schedule| %>
      <li>
        <i class="<%= check_fix_icon(schedule)%> check_fix_icon"></i>
        <%= link_to schedule_path(schedule) do%>
          <%= schedule_date(schedule) %>
          <%= schedule_matisowa(schedule)%>
          <%= schedule_time(schedule)%>
      <%end%>
      <%= link_to "#{schedule.event.program}", event_path(schedule.event) %>
      <span><%= schedule.event.performer %></span>
      <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-remove font-11 mg-l-5'),schedule_path(schedule),data: { confirm: "削除しますか?" },method: :delete %>
      </li>
      <% end %>
    </ul>
    <% end %>