<% if schedules.present? %>
      <% schedules.includes(:event,:location,:otherside,:memo).each do |schedule| %>
      <% event = schedule.event %>
      <table class="table_list">
        <tbody>
          <tr>
            <td>[c]</td>
            <td colspan="2"><%= link_to schedule_path(schedule) do%>
              <strong><%= schedule.start_datetime.strftime("%Y/%m/%d (%a)")%></strong>
              <i class="<%= "#{matisowa_icon(schedule)}"%>"></i>
              <%= schedule.start_datetime.strftime("%H:%M")%><%= "-#{schedule.end_datetime.strftime("%H:%M")}" if schedule.end_datetime.present? %>
              <%end%>
            </td>
            <td><i class="fas fa-map-marker-alt"></i> <%= "#{schedule.location.place_name}" %></td>
            <td><%= "#{schedule.seat_type}席" %></td>
            <td><%= link_to "[edit]", edit_schedule_path(schedule)%>
              <%= link_to "x", schedule_path(schedule), method: :delete %></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4" class="schedule_title"><%= link_to "#{schedule.event.program}", event_path(schedule.event) %></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="5"><%= schedule.event.performer %></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="5">購入先: <%= link_to "#{schedule.otherside.otherside_name}",otherside_path(schedule.otherside) %></td>
          </tr>
          <tr>
            <td></td>
            <% if memo_exist?(obj:schedule) %>
            <td colspan="5" class="schedule/memo"><%= "memo: #{schedule.memo.body}" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <hr>
      <% end %>

  <%end%>