  <h3><i class="fas fa-pen-square mg-r-10"></i>予定登録</h3>
    <div id="oc_btn"><i class="fas fa-angle-down font-gray2 pd-l-10"></i></div>

<div class="form_field">
  <!-- form_for部分 -->
  <%= form_for schedule do |sc|%>
  <ul>
    <li>
      <%= sc.label :start_datetime,"開始日時*" %>
      <%= sc.datetime_field :start_datetime %>
    </li>
    <li>
      <%= sc.label :end_data_time,"終了時間" %>
      <%= sc.time_field :end_datetime %>
    </li>
    <li>
      <%= fields_for :location do |lo| %>
      <%= lo.label :place_name,"場所*" %>
      <%= lo.text_field :place_name ,id: :place_name%>
      <%= lo.hidden_field :user_id, value:current_user.id%>
      <% end %>
    </li>
    <li>
      <%= fields_for event do |ev| %>
      <%= ev.label :program,"演目" %>
      <%= ev.text_field :program ,id: :program%>
    </li>
    <li>
      <%= ev.label :performer,"出演者" %>
      <%= ev.text_field :performer, id: :performer %>
      <%= ev.hidden_field :user_id, value:current_user.id%>
      <% end %>
    </li>
    <li>
      <%= fields_for :otherside do |ot|%>
      <%= ot.label :otherside_name,"購入先" %>
      <%= ot.text_field :otherside_name, id: :otherside_name %>
      <%= ot.hidden_field :user_id, value:current_user.id%>
      <% end %>
    </li>
     <li>
    <div class="check_field">
      <div>
        <label>
          <%= sc.check_box :fix, id: :fix %>
          <span class="fix_label" id="fix_label">
            <%= "確定" if schedule.fix == true %>
            <%= "未定" if schedule.fix.nil? || schedule.fix == false %>
            </span>
          </label>
      </div>
      <div>
        <label>
          <%= sc.check_box :check, id: :check %>
          <span class="check_label" id="check_label">
            <%= "清算済" if schedule.check == true %>
            <%= "未清算" if schedule.check.nil? || schedule.check == false %>
            </span>
        </label>
        <%= sc.hidden_field :user_id, value:current_user.id%>
      </div>
    </div>
      </li>
    <div class="plus_form">
      <li>
        <%= sc.label :seat_type,"席種" %>
        <%= sc.text_field :seat_type, id: :seat_type %>
      </li>

      <li>
        <%= sc.fields_for :memo||schedule.build_memo do |me| %>
        <label class="memo_label">
          メモ<span class="count">0</span>
        </label>
        <%= me.text_area :body %>
        <% end %>
      </li>
    </div>
  </ul>
  <div class="center">
    <%= sc.submit "登録",class:"btn yellow_btn"%>
  </div>
  <!-- scの終了タグ -->
  <% end %>
</div>