<% if schedules.present? %>
      <% schedules.includes(:event,:location,:otherside,:memo).each do |schedule| %>
      <% event = schedule.event %>
      <table class="table_list">
        <tbody>
          <tr>
            <td class="w-25p">
              <i class="<%= check_fix_icon(schedule) %>"></i>
            </td>
            <td class="w-250p"><%= link_to schedule_path(schedule) do%>
              <%= schedule.start_datetime.strftime("%Y/%m/%d (%a)")%>
              <i class="<%= "#{matisowa_icon(schedule)}"%>"></i>
              <%= schedule.start_datetime.strftime("%H:%M")%><%= "-#{schedule.end_datetime.strftime("%H:%M")}" if schedule.end_datetime.present? %>
              <%end%>
            </td>
            <td class="w-250p left"><i class="fas fa-map-marker-alt"></i> <%= "#{schedule.location.place_name}" %></td>
            <td class="w-100p"><%= "#{schedule.seat_type}席" unless schedule.seat_type.blank? %></td>
            <td class="w-50p right">
              <%= link_to edit_schedule_path(schedule) do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <% end %>
              <%= link_to schedule_path(schedule), data: { confirm: "削除しますか?" },method: :delete do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="3" class="schedule_title"><%= link_to "#{schedule.event.program}", event_path(schedule.event) %></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4"><%= schedule.event.performer %></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4">購入先: <%= link_to "#{schedule.otherside.otherside_name}",otherside_path(schedule.otherside) %></td>
          </tr>
          <tr>
            <td></td>
            <% if memo_exist?(schedule) %>
            <td colspan="5" class="schedule/memo font-13 font-gray2"><span class="label label-memo">MEMO</span> <%= schedule.memo.body %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <hr>
      <% end %>


  <%end%>