<% if schedules.present? %>
  <% schedules.includes(:event,:location,:otherside,:memo).each do |schedule| %>
  <% event = schedule.event %>

<div class="schedule_list">
<!-- 日付 -->
      <div class="date">
        <i class="<%= check_fix_icon(schedule) %> check_fix_icon"></i>
        <%= link_to schedule_path(schedule) do%>
          <%= schedule.start_datetime.strftime("%Y/%m/%d (%a)")%>
          <i class="<%= "#{matisowa_icon(schedule)}"%>"></i>
      </div>

<!-- 時間 -->
      <div class="time">
        <%= schedule.start_datetime.strftime("%H:%M")%><%= "-#{schedule.end_datetime.strftime("%H:%M")}" if schedule.end_datetime.present? %>
        <%end%>
      </div>

<!-- 編集 -->
      <div class="edit">
        <%= link_to edit_schedule_path(schedule) do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <% end %>
              <%= link_to schedule_path(schedule), data: { confirm: "削除しますか?" },method: :delete do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              <% end %>
      </div>

<!-- タイトル -->
      <div class="program">
        <%= link_to "#{schedule.event.program}", event_path(schedule.event) %>
      </div>

<!-- 出演者 -->
      <div class="performer">
        <%= schedule.event.performer %>
      </div>

<!-- 場所 -->
      <div class="location">
        <i class="fas fa-map-marker-alt"></i> <%= "#{schedule.location.place_name}" %>
      </div>

<!-- 席 -->
      <div class="seat_type">
        <span class="pd-l-10">
          <%= "#{schedule.seat_type}席" unless schedule.seat_type.blank? %>
        </span>
      </div>

<!-- 購入先 -->
      <div class="otherside">
        購入先: <%= link_to "#{schedule.otherside.otherside_name}",otherside_path(schedule.otherside) %>
      </div>

<!-- メモ -->
      <div class="memo_sc">
        <% if memo_exist?(schedule) %>
            <td colspan="5" class="schedule/memo font-13 font-gray2"><span class="label label_memo">MEMO</span> <%= schedule.memo.body %></td>
            <% end %>
      </div>
</div>
<hr>
  <% end %>
<%end%>