<!DOCTYPE html>
<html>
  <head>
    <title>TICKMEMO</title>
    <meta http-equiv="Content-Language" content="ja">
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div class="container clearfix">
        <div class="header-left">
          <%= link_to 'TICKMEMO', index_path%>
        </div>

        <div class="header-right">
          <% if current_user %>
          <ul>
            <li>
              <%= link_to "#{current_user.email}",journals_path%>
            </li>
            <li>
              <%= link_to '検索',search_path%>
            </li>
            <li>
              <%= link_to '設定',setting_path%>
            </li>
            <li>
              <%= link_to 'ログアウト',destroy_user_session_path,method: :delete%>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </header>

    <div class="container">

      <%= yield %>
    </div>

  </body>
</html>
