<!DOCTYPE html>
<html>
  <head>
    <title>TICKMEMO</title>
    <meta http-equiv="Content-Language" content="ja">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container clearfix">
        <div class="header-left">
          <%= link_to 'TICKMEMO', index_path%>
        </div>

        <div class="header-right">
          <% if current_user %>
          <ul>
            <li>
              <%= "#{current_user.email}"%>
            </li>
            <li>
              <%= link_to '検索',search_path%>
            </li>
            <li>
              <%= link_to '設定',setting_path%>
            </li>
            <li>
              <%= link_to 'ログアウト',destroy_user_session_path,method: :delete%>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </header>


    <div class="container">
      <div class="col-md-4">
        <h1>設定項目</h1>
        <div>
          <ul>
            <li><%= link_to 'ユーザー情報変更', edit_user_registration_path %></li>
            <li><%= link_to 'イベント情報変更', events_path %></li>
            <li><%= link_to '取引先情報変更', othersides_path %></li>
            <li><%= link_to '仕訳辞書一覧', trade_account_dicts_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
